# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-storage-file-datalake==12.1.2
lxml==4.6.3
numpy==1.19.4
pandas==1.1.4
pyodbc==4.0.30
requests==2.25.0
zeep==4.0.0
